.second-section {
    padding-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 70px;
}
.third-section {
    padding-left: 50px;
    padding-right: 50px;
}
.third-section > .second-title h1 {
    font-weight: 900;
}
.third-section > .container  {
 margin-bottom: 80px;
}
.third-section > .container > .row > .col-12 > .row > .col-12 > .products {
    background-image: url(./../../images/product_1.jpg);
    height: 359px;
}

.third-section > .container > .row > .col-12  {
    margin-bottom: 30px;
}
.third-section > .container > .row > .col-12 > .card > .card-body{
    height: 60px;
}

.first-section header > .nav > .navbar-toggler-icon{
    padding-left:100px;
}
.third-section > .container > .row > .col-12 {
    border-radius: 3%;
}
.third-section > .container > .row > .col-12 > .row > .col-12.bottom-product {
    background-color: #401D49;
    height: 99px;
}

.second-title {
 margin-bottom: 20px;   
}
.third-section > .container > .row > .col-12 > .card > .card-body {
    color: #D9D9D9;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}
.third-section > .container > .row > .col-12 > .card > .card-body.style-one {
    background-color: #401D49;
}
.third-section > .container > .row > .col-12 > .card > .card-body.style-two {
    background-color: #A3885D;
}
.third-section > .container > .row > .col-12 > .card > .card-body.style-three {
    background-color: #566BD9;
}
.third-section > .container > .row > .col-12 > .card > .card-body.style-for {
    background-color: #D69009;
}
.third-section > .container > .row > .col-12 > .card > .card-body.style-five {
    background-color: #1B1B1C;
}
.third-section > .carousel > .carousel-inner > .carousel-item > .card > .row > .col-md-8 > .card-body {
    background-color: #201D49; 
    background-image: linear-gradient(to bottom left, #201D49, #2F0984);
    height: 100%;
    color: #FFFFFF;
    direction: ltr;
    padding-top: 60px;
}
.third-section > .carousel > .carousel-inner > .carousel-item > .card > .row > .col-md-8 > .card-body > .card-text > .text-muted{
    color: #FFFFFF !important;
}
.third-section > .carousel > .carousel-inner > .carousel-item > .card > .row > .col-md-8 > .card-body > .card-text {
    padding-left: 50px;
}
.third-section > .carousel > .carousel-inner > .carousel-item > .card > .row > .col-md-8 > .card-body > .card-title {
    padding-left: 50px;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}


.third-section > .carousel > .carousel-inner > .carousel-item > .card > .row > .col-md-8 > .card-body > .card-text.body{
    padding-top: 70px;
}
/* footer */
.bg-primary {
    background-color: #201D49; 
    background: linear-gradient(358.73deg, #2F0984 -368.34%, #070521 98.56%);

}
.bg-primary>.container>.row>.text-center{
     height: 44px;
     top: -32px;
     font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
     color: #FFFFFF;
     mix-blend-mode: normal;
     opacity: 0.5; 
}
/* footer log */
.bg-primary>.container>.row>.d-flex{
    margin-top: 60px;
}


/* init carousel section */

/* carousel-col */

.carousel {
  background: #FAFAFA;
}

.carousel-col {
    width: 23%;
    height: 200px;
    margin-bottom: 200px;
    margin-right: 10px;
    background:#FAFAFA;
    border-radius: 5px;
    counter-increment: carousel-cell;
    line-height: 20px;
}
.init{
    margin-top: 60px;
    margin-bottom: 60px;
}
 /* text carousel  */
.text-carousel{

width: 280px;
height: 51px;
left: 30.36px;
margin-top: -27.76px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
text-transform: capitalize;

/* text color */
color: #0A0915;
}

 /* card body carousel */
.card-body-carousel{  

width: 400px;
height: 51px;
left: 30.36px;
margin-top: 27.75px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: center;
text-transform: capitalize;

/* text color */

color: #0A0915;

opacity: 0.5;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.bg-footer{
background: linear-gradient(45deg, #070521 0%, #461DA2 100%);
opacity: 0.9;
height:100%;
width: 100%;
min-height: 452px;
max-height:452px ;

}
.img-footer{

background-image:url(./../../images/footer.png) ;
height: 100%;
position: relative;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}
.Head-text{
padding-right: 120px;
padding-left: 112px;
padding-top: 179px;
}
.H-text{

font-family: 'Noto Sans Arabic';
font-weight: 600;
font-size: 40px;
color: #FFFFFF
}
.H-text2{  
    font-family: 'Noto Sans Arabic';
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}
.but-Dark{
    padding-right: 1150px;
    padding-left: 90px;
    margin-top: -100px;
    
}
.but-light{
    padding-right: 1030px;
    padding-left: 112px;
    margin-top: -39px;
}

