
:root {
    --main-color: #0d052f;
    --main-hover-color: #0d052f8c;
    --main-s-color: #2b1959;
    --main-orang: #e76521;
    --main-header:  #401D49;
    --main-whit:  #fff;
  }
.header .lang_header {
    box-sizing: border-box;
    position: absolute;
    height: 40px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: var(--main-s-color);
    width: 100%;
    height: 25px;
}
.select-language {
    background: var(--main-s-color);
    border: none;
    padding: 0 1em;
    border-radius: 50px;
    outline: none;
    font-size: 14px;
    color: var(--main-whit);
    margin-top: -2.2em;
    height: 23px;
  }
.header {
    width: 100%;
    height: 500px !important;
}

.header  > .background_header {
    position: absolute;
    /*left: 0%;
    right: 0%;
    top: 90px;
    bottom: 0%;*/
    background: url(./../../images/backbround_header.jpg);
    background-size: 100%;
    height: 550px;
    max-height: 600px;
    width: 100%;
    background-repeat: no-repeat;
}
.header  > .background_header p{
    width: 100%;
    position: absolute;
    top: 38.01%;
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 131px;
    /* identical to box height */
    
    align-items: center;
    color: var(--main-whit);
}

.header  > .background_header button{
    /* أجهزة كهرومنزلية */
    width: 150px;
    height: 41px;
    background-color:var(--main-header);
    color: var(--main-whit);
    font-weight: 400;
    margin-top: 330px;
}
.header > .nav > .navbar {
    width: 100%;
    direction: ltr;
    margin-top: 25px;
    background-color: var(--main-whit) !important;
    padding-left: 35px;
    padding-right: 35px;
}
.second-section {
    padding-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 70px;
}
.third-section {
    padding-left: 50px;
    padding-right: 50px;
}
.third-section > .second-title h1 {
    font-weight: 900;
}
.third-section > .container > .row > .col-12 > .products {
    background-image: url(./../../images/product_1.jpg);
}

/*/////////////////////////////////////////////////////////////////////////*/
.openNav{
    height: 34px;
    padding-top: 15px;  
}
.overlay {
    margin-top: px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background: rgba(32, 29, 73, 0.71);
    backdrop-filter: blur(40px);    
    border-radius: 8px;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    /*text-align: center;*/
    margin-top: 30px;
    
  }
  .list-Nav{
    padding-right: 142px;
  }
  .info-Nav{
    padding-left: 142px;
    text-align: left;
  }
  .overlay a{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #FFFFFF;;
    display: block;
    transition: 0.3s;
    font-weight: 500;
    text-align: right;
  }
  .text-Nav{
    width: 562px;
    height: 149px;  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    display: flex;
    align-items: center;  
    color: #FFFFFF;
  }
  .text-Nav-2{
    width: 98px;
    height: 28px;   
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    display: flex;
    align-items: center;   
    color: #FFFFFF;            
  }
  .icon-Nav{
    text-align:left;
    color: #FFFFFF;
    font-size: 24px;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #AF8BFF;;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
